*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.row{
    display: flex;
    flex-direction: row;
}
.piece{
    width: 100px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px outset #b5a6a4;
    transition: background-color 0.2s;
}
.piece:active{
    background-color: gray;
}