*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: inset #eaeaea 10px;
    background-color: #bfbaba;
}
.row{
    display: flex;
    flex-direction: row;
}
.piece{
    width: 100px;
    height: 100px;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px outset #b5a6a4;
    transition: all 0.2s;
}
.empty{
    border: none;
}
.piece:active{
    background-color: gray;
}
.buttons-container{
    margin-top: 30px;
}
.buttons-container button{
    margin: 0 5px;
    padding: 11px;
    background-color: #3039bf;
    border-radius: 25px;
    color: white;
    border: 3px #cec8c8 outset;
    font-family: 'Arial';
}
.buttons-container button:active{
    border: 3px #cec8c8 inset;
    background-color: #3d45bd;
}